.top_head{
  margin-left : 0px !important;
  margin-right : 0px !important;
  margin-top: 10px;
  background-color: var(--bg-color);
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-top: 20px;
  display: flex;
  text-align-last: left;

}

.sub-header {
//   font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--accent-gold); /* Dark Text */
  margin-bottom: 10px;
  padding-left: 10px; /* Aligns with the list */
}

.thick-separator{
    width: auto;
    height: 2px !important;
}